/* Button Config */
$color1: rgb(15, 15, 15);
$color2: rgb(207, 63, 63);
$text1: rgb(255, 255, 255);
$text2: rgb(0, 0, 0);
$border-width: 2px;
$border-radius: 25px;
$scale: 1;
/* ///////////  */

button {
  background-color: transparent;
}
.b-btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  transition: 400ms;
  &.small {
    padding: 0.5em 0.8em;
  }
  &.medium {
    padding: 0.7em 1.4em;
  }
  &.big {
    padding: 1.2em 1.8em;
  }
  &.biggest {
    padding: 1.6em 2em;
  }
  &.anim {
    position: relative;
    background: transparent;
    border: $border-width solid $color1;
    z-index: 1;
    transition: 0.3s;
    &:before {
      position: absolute;
      margin: 0;
      padding: 0;
      top: 0;
      left: 0;
      content: "";
      z-index: -1;
      width: 0;
      height: 100%;
      background: $color1;
      transition: all 0.3s;
    }
    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }
  &.anim2 {
    border: $border-width solid $color1;
    color: $text2;
    background: {
      image: linear-gradient(45deg, $color2 50%, transparent 60%);
      position: 100%;
      size: 600%;
    }
    transition: background 300ms ease-in-out;
    &:hover {
      color: $text1;
      border-color: $color2;
      background-position: 0;
    }
  }
  &.anim3 {
    border: $border-width solid $color2;
    color: $color2;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 150ms ease-in-out;

    &:after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 100%;
      background: $color2;
      z-index: -1;
      transition: width 150ms ease-in-out;
    }
    &:hover {
      color: #fff;
      &:after {
        width: 110%;
      }
    }
  }
  &.anim4 {
    background-color: transparent;
    color: $color2;
    border: $border-width solid $color2;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    &:hover {
      background-color: $color2;
      color: $text1;
      box-shadow: 0 0 40px 40px $color2 inset;
    }
  }
  &.radius {
    border-radius: $border-radius;
  }
  &:hover {
    transform: scale($scale);
  }
  &.solid {
    background-color: $color1;
    color: $text1;
    border-color: $color1;
    &:hover {
      background: $color2;
      border-color: $color2;
    }
  }
  &.opposite {
    background-color: $color2;
    color: $text1;
    border-color: $color2;
    &:hover {
      background: lighten($color2, 10%);
      border-color: lighten($color2, 10%);
    }
  }
  &.outline {
    background-color: transparent;
    color: $text2;
    border: $border-width solid $text2;
    &:hover {
      background: $color1;
      border-color: $color1;
      color: $text1;
    }
  }
}
