$max-height: 1080px;

.b-colapse-label{
    display: block;
    cursor: pointer;
}
.b-colapse-content{
    display: none;
}
.b-colapse-content.ativo{
    display: block;
}
[data-colapse]{
    cursor: pointer;
    display: none;
    & + .colapse-content{
        display: none;
    }
        &:checked{
            & + .colapse-content{
                display: flex;
                animation: expandDown .5s forwards;
            }
        }    
}    
@keyframes expandDown{
    from{
        opacity: 0;
        max-height: 0;
    } to {
        opacity: 1;
        max-height: $max-height;
    }
}   