[data-openModal]{
    cursor: pointer;
    display: none;
    &.ativo{
        display: inherit;
    }
}
.b-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    &.ativo{
        display: flex;
    }
}
.b-modal-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    z-index: 1;
}
.b-modal-content{
    z-index: 2;
}