h3{
    font-size: 24px;
    font-weight: 600;
}
.b-modal{
    &.ativo{
        align-items: center;
        justify-content: center;
    }
}
.b-modal-overlay{
    background: rgba(0,0,0,.2);
}
.b-modal-content{
    padding: 2rem 1rem 2.2rem;
    background: #fff;
}